<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Homepage</title>
</head>
<body> 
     <h1> Wecome To Codeial </h1>
     <div><ul id="posts" >
        <%for(post of posts){%>
        <li><p><%=post.content%></post.content></p> <br>Posted By: <span><%=post.user.name%></span> <br> Posted on <span><%=post.createdAt%></span>
            <div>
                <ul>   <%for(comment in post.comments){%>
                          <li><%=post.comments[comment].content%><br> Commented By: <span><%=post.comments[comment].user.name%></span></li>
                        <%}%>
                </ul>
            </div>

            <% if(locals.user){%>
                      
                <form action="/createComment" method="post">
                     <input name="comment" id="comment" >
                     <input name="post" type="hidden" value="<%=post._id%>"> 
                     <button id="submit" class="form-submit" type="submit">Comment</button>

               </form>  
                 
                <%}%>    
        </li>
            <%}%>
            </ul>
    </div>  
     <% if(locals.user){%>
    <h1>hello <%=locals.user.name%></h1>
    <div>
    <form action="/createPost" method="post">
    <textarea name="post" id="" cols="30" rows="5">

    </textarea>
    <button id="submit" class="form-submit" type="submit">Post</button>

    </form>    
     

    </div>
    <div id="logout">
    <a href="/logout" id="submit" class="form-submit">Logout</a>
    

    </div>
    <%}else{%>
        <!-- <div><ul>
            <%for(post of posts){%>
               <li><%=post.content%></post.content> <br> <span><%=post.user.name%></span></li>
                <%}%>
                </ul>
        </div>   -->
       <div id="logout">
        <a href="/login" id="submit" class="form-submit">Log In</a> <br>

       </div>   

       <div id="logout">
        <a href="/signup" id="submit" class="form-submit">Sign up</a>

       </div>
        

    <%}%>
</body>
</html>