<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Homepage</title>
</head>
<body>
    <section  id="header">
     
        <div class="logout header">
          <% if(locals.user){%>
            <h1 id="user"> Hey <%=locals.user.name%></h1>
              <%}%> 
        <h1 id="title">  
        Wecome To Codeial </h1>
     
        <% if(locals.user){%>
         <a href="/logout"  class="logout">Logout</a>
         <%}%>
     
        </div>
     </section>
  <div id="container">
    <section id="left">

    </section>
    
    <section id="postContainer">
     
         <% if(locals.user){%>
            
            <div>
            <form action="/createPost" method="post" id="post-form">
            <textarea name="post" id="postArea" cols="30" rows="5" placeholder="Type Here..........."></textarea>
            <!-- <input type="file" name="" id=""> -->
            
            <button id="logout" class="form-submit" type="submit">Post</button>
        
            </form>    
             
        
            </div>
           
            <%}else{%>
                <!-- <div><ul>
                    <%for(post of posts){%>
                       <li><%=post.content%></post.content> <br> <span><%=post.user.name%></span></li>
                        <%}%>
                        </ul>
                </div>   -->
               <div id="logout">
                <a href="/login" id="submit" class="form-submit">Log In</a> <br>
        
               </div>   
        
               <div id="logout">
                <a href="/signup" id="submit" class="form-submit">Sign up</a>
        
               </div>
                
        
            <%}%>
             
            <div><ul id="posts" >
            <%for(post of posts){%>
            <li><p><%=post.content%>
                <% if((locals.user)&&(post.user._id.equals(locals.user._id))){%>
                    <a  id="<%=post._id%>" class="postDeleteLink"   href="/deletePost/?id=<%=post._id%>"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" >
                      <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
                    </svg></a>
                  <%}%>
                </p>
                <br>Posted By: <span><%=post.user.name%></span> 
               
                
                <br> Posted On: <span><%=post.createdAt%></span>
                <div>
                    <ul id="commentsList<%=post._id%>">   <%for(let comment=post.comments.length-1;comment>=0 ;comment--){%>
                              <li><%=post.comments[comment].content%>  <span>
    
                              <%if(locals.user&&(post.user._id.equals(locals.user._id)||(post.comments[comment].user._id.equals(locals.user._id)))) {%>
                                
                                <a class="deleteComments" onclick="deleteCommentAtPost(this)" href="/deleteComment?id=<%=post.comments[comment]._id%>&postId=<%=post._id%>"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                </svg></a>
                              
                            <%}%></span><br> Commented By: <span><%=post.comments[comment].user.name%></span></li>
                            <%}%>
                    </ul>
                </div>
    
                <% if(locals.user){%>
                          
                    <form action="/createComment" method="post" class="commentList">
                         <input name="comment" id="comment" placeholder="Comment Here...">
                         <input name="post" type="hidden" value="<%=post._id%>"> 
                         <button id="logout" onclick="createCommentAtPost(this)" class="form-submit" type="submit">Comment</button>
    
                   </form>  
                     
                    <%}%>    
            </li>
                <%}%>
                </ul>
        </div>  
    </section>
     <section id="right">
  
    </section>




                   






  </div>

  
  
  
     
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/home.js"></script>
</body>
</html>